Repository upciti/front-end-interview-fake-api: changes, and which lint-staged commands are due for each by the changed paths.
All: sort-package-json, prettier --write, eslint --fix

ci: remove docker steps & bump build-push-action to v6
  .github/workflows/ci.yml
Due: none

chore: lint mjs & yml files
  .lintstagedrc.json
  eslint.config.mjs
  package.json
Due: sort-package-json, prettier --write

docs: update readme
  README.md
Due: prettier --write

fix: enable cors on front url env variable
  src/main.ts
Due: prettier --write, eslint --fix

feat: add random slowness to average response
  src/app.controller.spec.ts
  src/app.controller.ts
Due: prettier --write, eslint --fix

chore: update deps
  package-lock.json
  package.json
Due: sort-package-json, prettier --write

chore: update deps
  .ncurc.js
  Dockerfile
  package-lock.json
  package.json
Due: sort-package-json, prettier --write

Path conditions:
  sort-package-json: any of: package.json
  prettier --write: any of: ./**/*.{js,ts,json,md}
  eslint --fix: any of: {src,apps,libs,test}/**/*.ts
